* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.navbar {
	height: 56px;
	background: #455A64;
	border: 0;
}

#navWrapper {
	width: 1024px;
	margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	padding-top: 20px;
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #263238;
}

.navbar i {
	color: white;
}

.navbar i:hover {
	color: #263238;
}


.splash {
	background: url('/images/splash7.jpg') no-repeat center 90%;
	box-shadow: 0px 100vh rgba(0, 0, 0, 0.2) inset;
	background-size: cover;
	height: 100vh;
	/*height: 678px;*/
/*	width: 2200px;*/
}

.splash h1 {
	color: white;
	text-align: center;
	margin-top: 200px;
}

.about {
	background: #CFD8DC;
	text-align: center;
	color: #263238;
}

.about img {
	padding-top: 40px;
	width: 360px;
}

.about h1 {
	padding-top: 120px;
}

#aboutWrapper {
	width: 1024px;
	margin: 0 auto;
}

.portfolio {
	background: #ECEFF1;
	padding: 80px 0 0 0;
}

.portfolio h1 {
	text-align: center;
	margin-bottom: 60px;
}

.portfolio img {
	height: 200px;
}

#portfolioWrapper {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 100px
}

.portCard {
	width: 330px;
	margin: 0 0 0 13px;
	background: white;
	color: #263238;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0px 0px 2px 2px #ccc;
}

.portCard img {
	width: 330px;
	border-top-right-radius:  2px;
	border-top-left-radius:  2px;
}

.portCard h3,
.portCard p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.portCard .buttons {
	text-align: center;
	margin-bottom: 10px;
}

.portCard .md-button {
	display: inline-block;
	background-color: #607D8B;
	color: white;
	padding-left: 15px;
	padding-right: 15px
}

.portCard .md-button:hover {
	background-color: #455A64;
	color: white;
}

.firstCard {
	margin-left: 0;
}

.timeline {
	height: 200px;
	background-color: #CFD8DC
}
