* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif; 
}

.splash {
	background: url('/images/newsplash.jpeg') no-repeat center center;
	box-shadow: 0px 100vh rgba(0, 0, 0, 0.9) inset;
	background-size: cover;
	height: 100vh;
	position: relative;
}